.carousel-slide {
    position: relative;
  }
  
  .carousel-overlay {

    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;



  }
  


  .drawer-side a.active {
    color:white;
  }
