.carousel-slide {
    position: relative;
  }
  
  .carousel-overlay {
    /* border-radius: 10px; */
    position: absolute;
    top: 0;
    /* left:0; */
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
   display: flex;
   justify-content: center;
   align-items: center;


    /* opacity: 1; */
  }
  
  /* .carousel-content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
  } */
  
  /* .carousel-slide:hover .carousel-overlay {
    opacity: 1;
  }
  
  .carousel-slide:hover .carousel-content {
    opacity: 1;
    transform: translateY(0);
  } */
  

  .drawer-side a.active {
    color:white;
  }
